.centallign1 {
  margin-top: 20%;
  text-align: center;
  display: none;
}
.centallign2 {
  margin-top: 5%;
  margin-bottom: 0; 
  text-align: center;
  display: none;
}
.centallign3 {
  margin-top: 0;
  text-align: center;
  display: none;
}