.centallign1 {
  margin-top: 20%;
  text-align: center;
  display: none;
  /*margin-bottom: 0;*/
}
.centallign2 {
  margin-top: 1%;
  margin-bottom: 0; 
  text-align: center;
  display: none;
}
.abouttext {
  margin-top: 5%;
  display: none;
}
.backbutton {
  text-align: right;
}
.socialstuff {
  margin-top: 0;
  text-align: center;
  display: none;
}